.usertable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .usertable th, .usertable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .usertable th {
    background-color: #f2f2f2;
  }